.activity {
    margin-bottom: 40px;

    &_log {
        margin-top: 1rem;
        position: relative;

        &-item {
            display: flex;
            gap: 30px;
            font-size: 14px;
            line-height: 1;

            &:last-of-type {
                .timestamp {
                    border-color: transparent;
                    padding-bottom: 0;
                }
            }

            .timestamp {
                width: 100px;
                border-right: 3px dotted #fff;
                position: relative;
                padding-bottom: 30px;

                &:after {
                    content: '';
                    height: 10px;
                    width: 10px;
                    background: #f94144;
                    border-radius: 50%;
                    position: absolute;
                    right: -6.5px;
                    top: 0;
                }

                &_weekday {
                    color: #c70f61;
                    font-weight: 500;
                    font-size: 16px;
                }
            }

            .details {
                &_title {
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                &_status {
                    color: gainsboro;
                    font-size: 12px;

                    &.sent {
                        color: darkgoldenrod;
                    }

                    &.processing {
                        color: cornflowerblue;
                    }

                    &.paid {
                        color: #80b918;
                    }

                    &.rejected {
                        color: #f94144;
                    }
                }
            }
        }
    }
}