@import "../../scss/base/variables";
@import "../../scss/base/mixins";

.expenses {
    &_list {
        &-item {
            &_wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                &:hover, &:focus {
                    .media {
                        border-color: $accent;
                    }
                }

                .media {
                    width: 60px;
                    height: 60px;
                    overflow: hidden;
                    border-radius: 100%;
                    margin-bottom: .5rem;
                    transition: .4s ease-in-out;
                    background: #fff;
                    @include flexCenter;
                    border: 1px solid transparent;

                    img {
                        max-width: 40px;
                    }
                }

                .main {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    &_title {
                        margin-bottom: .2rem;
                        font-weight: 500;
                    }

                    &_total {
                        color: #f94144;
                    }
                }
            }
        }
    }
}