.app {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: rgba(6, 7, 15, .938);
    backdrop-filter: blur(8px);
    padding: 30px 12px;

    &_grid {
        gap: 15px;
        margin-top: 2rem;

        &-block {
            display: flex;
            flex-direction: column;
            gap: 30px;
            overflow: hidden;

            &:first-of-type {
                width: 100%;
                overflow: visible;
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .app {
        padding: 40px 20px;

        &_grid {
            gap: 15px;
            margin-top: 2rem;

            &-block {
                gap: 50px;
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .app {
        &_grid {
            grid-gap: 30px;
            margin-top: 2rem;

            &-block {
                gap: 50px;

            }
        }
    }
}

@media screen and (min-width: 1399.98px) {
    .app {
        display: grid;
        grid-template-columns: 65% 30%;
        grid-template-rows: 0.2fr 1.8fr;
        grid-gap: 30px 50px;

        &_grid {
            &-block {
                &:nth-of-type(2) {
                    grid-area: 1 / 2 / 3 / 3;
                }
            }
        }
    }
}