@import "../../scss/base/mixins";

.weather {
    padding: 0 40px 60px;

    &_header {
        margin-bottom: 30px;
    }

    &_widget {
        &-country {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 15px;

            &_flag {
                width: 32px;
                height: 24px;
            }

            &_name {
                position: relative;
                top: 1px;
            }
        }

        &-date {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            gap: 5px 0;
            margin-bottom: 10px;
        }

        &-main {
            .block {
                display: flex;
                align-items: center;

                .icon {
                    max-width: 32px;
                }
            }
        }
    }
}