@import "../../scss/base/keyframes";
@import "../../scss/base/variables";
@import "../../scss/base/mixins";

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_panel {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &-avatar {
            margin-right: 10px;
            height: 60px;
            width: 60px;
            border-radius: 100%;
            overflow: hidden;

            img {
                height: 100%;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;

            &_name {
                font-weight: 900;
                margin-bottom: 5px;
            }

            &_status {
                color: $success;
                font-size: 14px;
                position: relative;

                .indicator {
                    font-size: 28px;
                    position: absolute;
                    left: -10px;
                    top: -7px;
                    animation: blink 2s infinite both;
                }

                .text {
                    margin-left: 10px;
                }
            }
        }
    }

    &_btn {
        height: 54px;
        border-radius: 30px;
        @include flexCenter;
        line-height: 1;
        width: 100%;
        gap: 15px;
        border: 2px solid #fff;
        font-weight: 900;
        margin-bottom: 10px;

        .icon {
            svg {
                font-size: larger;
            }
        }

        &:hover, &:focus {
            background: $accent;
            color: whitesmoke;
        }
    }
}