@import "../../scss/base/mixins";
@import "../../scss/base/variables";

.sidebar {
    background: #212529;

    &_panel {
        background: #000;
        padding: 15px 12px 12px;
        height: 50px;
        @include flexSb;
        overflow: hidden;

        &-logo {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        &-brand {
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 2px;
            flex-grow: 1;

            .highlight {
                color: $accent;
            }
        }

        &-trigger {
            font-size: 20px;
            margin-left: 15px;

            &:hover, &:focus {
                color: $accent;
            }
        }
    }

    &_links {
        background: #212529;
        padding: 60px 40px;

        &-menu {

            &_item {
                margin-bottom: 25px;
                font-size: 18px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:first-of-type {
                    .icon {
                        color: $accent;
                    }
                }

                .link {
                    text-transform: uppercase;
                    display: flex;
                    gap: 15px;
                    line-height: 1;

                    .icon {
                        transition: .3s ease-in-out;
                    }

                    &:hover,
                    &:focus,
                    &.active {
                        .icon {
                            color: $accent;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_panel {
            padding: 15px 40px 12px;

            &-brand {
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 2px;
                flex-grow: 1;

                .highlight {
                    color: $accent;
                }
            }

            &-trigger {
                font-size: 20px;
                margin-left: 15px;

                &:hover, &:focus {
                    color: $accent;
                }
            }
        }

        &_links {
            flex-grow: 1;
            padding: 60px 40px;

            &-menu {

                &_item {
                    margin-bottom: 25px;
                    font-size: 18px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &:first-of-type {
                        .icon {
                            color: $accent;
                        }
                    }

                    .link {
                        text-transform: uppercase;
                        display: flex;
                        gap: 15px;
                        line-height: 1;

                        .icon {
                            transition: .3s ease-in-out;
                        }

                        &:hover,
                        &:focus,
                        &.active {
                            .icon {
                                color: $accent;
                            }
                        }
                    }
                }
            }
        }
    }
}
