.converter {
    &_form {
        background: rgba(54, 54, 54, 0.473);
        padding: 30px 20px;
        border-radius: 0.5rem;

        &-input {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;

            .field {
                border: 2px solid gainsboro;
                padding: 0.5rem;
                grid-area: 1 / 1 / 2 / 3;
                border-radius: 5px;
                height: 40px;

                &::placeholder {
                    text-transform: uppercase;
                }
            }
        }

        &-output {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            .btn {
                background: #c70f61;
                padding: .5rem 1.5rem;
                border-radius: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                margin-bottom: 10px;

                .icon {
                    font-size: 18px;
                    margin-right: 10px;
                    position: relative;
                    top: 2px;

                    .rotate {
                        animation: rotate-center 3s ease-in-out infinite both;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .converter {
        .content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
        }
    }
}