.converter {
    color: #fff;
    background: rgba(54, 54, 54, 0.473);
    padding: 2rem;
    border-radius: 0.5rem;
    min-height: 15em;
    width: calc(50% - 1rem);

    &_header {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    &_form {
        &-input {
            margin-bottom: 1.5rem;

            .field {
                border: 2px solid gainsboro;
                padding: 0.5rem;

                &::placeholder {
                    text-transform: uppercase;
                }
            }
        }

        &-output {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn {
                background: #c70f61;
                padding: .5rem 1.5rem;
                border-radius: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                    font-size: 18px;
                    animation: rotate-center 3s ease-in-out infinite both;
                }
            }
        }
    }
}