@import "base/base";
@import "base/keyframes";

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: hidden;
}

.dashboard {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.shape {
    position: absolute;
    height: 10rem;
    width: 10rem;
    background: rgb(255, 0, 64);
    border-radius: 100%;

    &--1 {
        left: 15rem;
        top: 2rem;
        transform: rotate(30deg);
        border-radius: 0;
    }

    &--2 {
        left: 35rem;
        top: 15rem;
    }

    &--3 {
        left: 60rem;
        top: 20rem;
    }
}

.link {
    &--circle {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #fff;
            border-radius: 100%;
            transition: opacity .4s ease-in-out;
            opacity: 0;
        }

        &:hover, &:focus {
            &:after {
                opacity: 1;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0.3rem;
    background: #14213d;
    &-thumb {
        background: #e63946;
    }
}